<p>The intention of this page is to have links to click to have the user select which 2FA Method to impliment. The Method of 2FA is saved in User Model in the MongoDB with the twoFAMethod field</p>
<a class="btn btn-primary" href="./googleAuthenticator/" >Google Authentication</a>
<a class="btn btn-primary"  href="#" >MoparGamer's 2FA selection</a>