<h3>Please Select Which Method of Two Factor Authentication You Would Like To Use</h3>
<a class="btn btn-primary" href="./googleAuthenticator/" >Google Authentication</a>
<a class="btn btn-primary"  href="#" >MoparGamer's 2FA selection</a>