<h1>{{title}}</h1>
<h3 class="alert alert-success">{{subtitle}}</h3>
<p>If you want to set up Two Factor Authentication or change the Two Factor Authentication method please go to Account settings by clicking on your email address or clicking <a href="/account">here</a></p>
