{{#if messages}}
<div class="alert alert-danger">
    {{messages}}
</div>
{{/if}}
<h3> Scan this QR Code in Google Authenticator </h3> 
<img src = "{{ qrImage }}" />

<h3>Please enter code from your Google Authenticator App</h3>
<form method="post">
    <div class="enterCode">
        <label>Code:</label>
        <input type="text" name="code" id="code" /><br />
        <input name="key" id="key" type="hidden" value="{{key}}" />
    </div>
    <div>
        <button>Submit</button>
    </div>
</form>