<h1>Please enter code from your Google Authenticator App</h1>
<form method="post">
    <div class="enterCode">
        <label>Code:</label>
        <input type="text" name="code" id="code" /><br />
    </div>
    <div>
        <button>Submit</button>
    </div>
</form>